*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
a{
    font-family: monospace;
    text-decoration: none;
    overflow: hidden;
}
body{
    background-color: black;
}
@media only screen and (min-width:600px) {
    .navClass{
        width: 100vw;
    }
    #fgimg{
        left: 0;
        top: 10%;
        width: 100vw;
    }
    #welcome{
        top:28%;
    }
    #myimg{
        width: 18vw;
    }
    #basicinfo > div{
        width: 60ch;
    }
    .card{
        width: 20vw;
        height: 40vh;
    }
    .newcard{
        width: 20vw;
        height: 40vh;
    }
    #Section4> div > a > img {
        width: 10vh;
    }
    .contactsbtn{
        width: 10%;
        font-size: 1.1vw;
    }
}
@media only screen and (max-width:600px) {
    .navClass{
        width: 100vw;
    }
    #fgimg{
        left: -79%;
        top: 30%;
        width: 250vw;
    }#welcome{
        top:38%;
    }
    #basicinfo{
        flex-direction: column;
    }
    #myimg{
        width: 40vw;
    }
    #basicinfo > div{
        width: 40ch;
    }
    .card{
        width: 40vw;
        height: 30vh;
    }
    .newcard{
        width: 40vw;
        height: 30vh;
    }
    #Section4> div > a > img {
        width: 10vw;
    }
    .contactsbtn{
        width: 20%;
        font-size: 4vw;
    }
}
.navClass{
    position: fixed;
    z-index: 50;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(24, 24, 24);
}

.contactsbtn{
    overflow: hidden;
    white-space: nowrap;
    border-radius: 30px;
    margin: .3vw 2vw .3vw 2vw;
    border-style: solid;
    font-family: monospace;
    background-color: #000000;
    transition: all 0.5s;
    border-color: #645cd1;
}
.contactsbtn > a{
    color: white;
}
.contactsbtn:hover > a{
    color: #645cd1;
}
.contactsbtn:hover{
    border-color: white;
}
.contactsbtn:hover::after {
    width: 100%;
    height: 5px;
}
.contactsbtn::after{
    content: "";
    position: absolute;
    right: 0;
    background-color: #645cd1;
    bottom: 0;
    width: 0%;
    padding-left: 2vw;
    height: 0px;
    transition: all .5s;
}
#content{
    scroll-behavior: smooth;
}

#titlename{
    display: inline;
    color: aliceblue;
    font-family: "Courier New","monospace";
    font-size: 2em;
    margin:0.01em 0.29em 0.01em 0.29em;

    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #645cd1,#9e88fe,#d5b8ff, #b4b9ff, #ffffff
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear 2;
  transition: background-position 2s;
}
#titlename:hover{
    background-position: 200% center;
}

.commonInSection{
    width: 100vw;
    height: 105vh;
    opacity: 15%; 
    filter: blur(5px);
    transition: all 0.5s;
    background-position: center;
}
#Section1{
    background-image: url(./res/bg.png);
    background-repeat: no-repeat; 
    background-size:cover;
    overflow: hidden;
}#welcome{
    overflow: hidden;
    text-shadow: 12px 12px 20px black;
    position:absolute;
    font-family: cursive,monospace;
    height: 100vh;
    z-index: 1;
    left: 14%;
    opacity: 60%;
    color: #000000;
    font-size: 15vw;
    animation: comeup 1s ease forwards;
}#fgimg{
    overflow: hidden;
    position: absolute;
    z-index: 2;
    overflow-y: hidden;
    transition: all 1s;
    animation: comeup2 2s ease forwards;
    filter: blur(5px);
}
#Section2{
    background-image: url(./res/bg47.jpg);
    background-repeat: no-repeat; 
    background-size:cover;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#Section3{
    display: flex;
    color: #fff;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 1em;
}
#Section3 > #section3bg{
    position: absolute;
    filter: blur(5px);
    left: 0;
    top: 0;
    background-image: url(./res/artistic-minimalism-minimalist-1022049.jpeg);
    background-repeat: no-repeat; 
    background-size:cover;
}
.hide{
    transform: translateY(100px);
}.hide2{
    transform: translateY(300px);
}

@keyframes textclip {
    to {
    background-position: 200% center;
  }
}

@keyframes comeup {
    to{
        transform: translateY(-175px);
    }
}@keyframes comeup2 {
    to{
        filter: blur(0);
    }
}

#basicinfo{
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 1s;
    gap: 2rem;
}
#myimg{
    border-radius: 15%;
    border-color: rgb(145, 145, 145);
    border-style: solid;
    border-width: 1px 4px 4px 1px;
    padding: 0rem 0.8rem 0.8rem 0.2rem;
    transition: all 0.6s;
}
#myimg:hover{
    padding:0;
    border-color: #fff;
}

.info{
    display: inline;
    color: white;
    font-size: 1rem;
    font-family: monospace;
}.info2{
    display: inline;
    color: white;
    font-size: 1rem;
    max-width: 75ch;
    text-align: center;
    font-family: monospace;
    filter: blur(5px);
    opacity: 0;
    transition: all 1s;
}
.infotran{
    opacity: 1;
    filter: blur(0);
}
.infoHighlight{
    display: inline;
    font-family: monospace;
}
.infoClass{
    opacity: 0;
}
.displaySection{
    opacity: 100;
    filter: blur(0);
}
.section3bgshow{
    opacity: 50%;
    filter: blur(0);
}
.red{
    color: #ff1361;
}
.yellow{
    color: #fff800;
}
.dimWhite{
    color: rgb(205, 205, 205);
}
.large{
    font-size: 1.2rem;
}
.larger{
    font-size: 1.5rem;
}
#Section4{
    width: 100vw;
    height: 110vh;
    transition: all 0.5s;
    background-image: url(./res/artistic-minimalism-simple-1335898.jpeg);
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}
#Section4>h1{
    opacity: 100%;
    font-size: 10vw;
    overflow: hidden;
    transition: all 0.8s;
}
#Section4>h1:hover{
    opacity: 80%;
    transform: translateY(-15px);
}
#Section4>div.outter{
    width: 70vw;
    height: 32vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#Section4> div > a > img {
    padding: 3vw;
    filter: drop-shadow( 3px 3px 5px black);
    transition: all 0.5s;
}
#Section4> div > a > img:hover{
    filter: drop-shadow( 3px 3px 2px  #766fd3ff);
    transform: translateY(-1em);
}

.newSection5{
    color: #e3fbff;
}

.card{
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(15px);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    background-position: center;
    justify-content: space-evenly;
    border: 1px solid transparent;
    transition: all 1s;
  }
.card>h1{
    position: absolute;
    font-size: 2vw;
    font-family: monospace;
    top: 80%;
    opacity: 50%;
    transition: all 0.5s;
}
.card:hover > h1{
    opacity: 0%;
    font-size: 10vw;
}
.card > img{
    position:absolute;
    left: 50;
    top:50;
    transition: all 0.5s;
    width: 100px;
    filter: drop-shadow(5px 5px 5px black);
}
.card:hover > img{
    opacity: 0;
    transform: translateY(-100px);
}
.card:hover{
    border: 1px solid whitesmoke;
    background-image: url(res/anime-fon-8767.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card >h2{
    opacity: 0;
    color: white;
    font-size: x-large;
    font-family:monospace;
    font-weight:bolder;
    filter: blur(5px);
    opacity: 0;
    padding: 7px;
    transition: all 0.5s;
}
.card>p{
    padding: 7px;
    opacity: 0;
    color: white;
    font-size: large;
    font-family: monospace;
    font-weight: lighter;
    filter: blur(5px);
    opacity: 0;
    transition: all 0.5s;
}
.card:hover>h2{
    opacity: 100;
    filter: blur(0);
}
.card:hover>p{
    opacity: 100;
    filter: blur(0);
}

#Section5{
    width: 100vw;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 1em;
}

.newcard {
    color: white;
    border: .05rem solid black;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    border: 2px solid transparent;
    transition: border 0.5s;
  }
.newcard:hover{
    border-color: white;
}
.newcard:hover .topImg {
      animation: newimg 0.1s .7s forwards;
    transform: scale(1.5, 1.2) translate(5px, -30px) rotate(5deg);
  }
  @keyframes newimg {
      from{
          background-image: url(./res/codeimg.png);
      }to{
          background-image: url(./res/codeimg.png);
      }
  }
  .newcard:hover .topImg::before {
    transition: transform 1s 0.4s;
    transform: translateX(400px) skewX(-10deg);
  }
  
  .newcard:hover .bottomImg {
    transform: translateY(120%);
  }
  
  .newcard .defImg {
    position: absolute;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgb(65, 122, 255), rgb(23, 65, 193));
    background-size: 100% 200%;
    transition: 0.3s all;
  }
  
  .newcard .topImg {
    top: 0;
    right: 0;
    position: relative;
  }
  
  .newcard .topImg::before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    height: 100%;
    width: 10px;
    transform: skewX(-10deg);
    background-image: linear-gradient(to right, rgb(32, 151, 248), rgba(255, 255, 255, 0.9));
  }
  
  .newcard .bottomImg {
    bottom: 0;
    right: 0;
    background-position: bottom center;
  }
  
  .newcard__content {
    margin-left: 1rem;
    margin-top: 1rem;
    transform: translateX(-130%);
    transition: .5s ease-in-out transform .3s;
    position: relative;
    z-index: -1;
  }
  
  .newcard__content span {
    display: block;
  }
  
  .newcard__content .name {
    font-weight: bold;
    font-size: 1.7rem;
  }
  
  .newcard__content .job {
    color: #B2B2B2;
  }
  
  .newcard:hover .newcard__content {
    transform: translateX(0);
  }
#musicplayer .topImg,#musicplayer .bottomImg{
    background-image: url(./res/MM.png);
}
#chessgame .topImg,#chessgame .bottomImg{
    background-image: url(./res/chess.png);
}
#contactsapp .topImg,#contactsapp .bottomImg{
    background-image: url(./res/contacts.png);
}
#Section6{
    margin-top: 1.5vw;
    background-color: #000000;
    color: white;
    width: 100vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
    overflow: hidden;
}
#Section6 > p{
    overflow: hidden;
    white-space: nowrap;
    color: black;
    font-size: large;
    font-family: monospace;
    background-color: #fff800;
    transition: all 2s;
}
#Section6 > h1{
    position: absolute;
    font-size: 10vw;
    opacity: 50%;
    z-index: 0;
    font-family: monospace;
    color: #B2B2B2;
    transition: all 1s;
}

.marqueetop{
    transform: rotateZ(10deg);
}

.marqueemid{
    transform: rotateZ(-10deg);
}
.marqueebot{
    transform: rotateZ(5deg);
}
@keyframes marquanim {
    0%{
        transform: translateX(0%);
    }25%{
        transform: translateX(-15%);
    }50%{
        transform: translateX(0%);
    }75%{
        transform: translateX(15%);
    }100%{
        transform: translateX(0%);
    }
}

.newbtn {
    font-size: 3vw;
    padding: 10px 35px;
    background-color: #EBF5EE;
    font-weight: bolder;
    border: 3px solid transparent;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    transition: all .2s ease-in-out .1s;
    z-index: 2;
    filter: drop-shadow(5px 5px 5px #645cd1);
}
.newbtn > a {
    color: #645cd1;
}
.newbtn:hover > a {
    color: #ffffff;
}
  .newbtn:hover {
    border-color: white;
    background-color: #9992ff;
    transform: scale(1.2) rotate(5deg);
  }
  
  .newbtn:before {
    content: '';
    position: absolute;
    background-color: white;
    height: 180%;
    top: -30%;
    left: -40%;
    transform: rotateZ(20deg);
    width: 40px;
    transition: left .2s ease-in-out, left 0s;
  }
  
.newbtn:after {
    content: '';
    position: absolute;
    background-color: #766fd3ff;
    height: 180%;
    top: -30%;
    left: -40%;
    transform: translateX(-40px) rotateZ(20deg);
    width: 40px;
    transition: left .2s ease-in-out left 0s;
  }
  
  .newbtn:hover:after {
    left: 150%;
    transition: left .3s ease-in-out;
  }
  
  .newbtn:hover:before {
    left: 150%;
    transition: left .3s ease-in-out;
  }